.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#addTasks {
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: space-around;
}

html {
  background-color: #e7eaeb;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: #0e292d;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

h2 {
  text-align: center;
  text-decoration: underline;
  color: #0e292d;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 0px;
}

h3 {
  text-align: center;
  color: #0e292d;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
  margin-top: 0px;
}

form {
  background-color: #e7eaeb;
  padding: 20px;
  border: 2px double #b7c0c2;
  border-radius: 10cqb;
  width: 85%;
  margin: auto;
  color: #0e292d;
  display: flex;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

input {
  width: 65%;
  padding: 10px;
  background-color: #e7eaeb;
  border: 1px solid #1c1032;
  border-radius: 10cqb;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #0e292d;
}

input:focus {
  background-color: #cfd5d6;
  border: 2px solid #696969;
  border-radius: 10cqb;
}

button {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
  border: 1px solid #1c1032;
  border-radius: 10cqb;
  padding: .5cqb;
  background-color: #b7c0c2;
  color: #0e292d;
}

/* resource: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.checkContainer {
  cursor: pointer;
}

.checkContainer input {
  cursor: pointer;
}

/* resource: https://www.codeproject.com/Questions/5327979/How-can-I-change-checkbox-background-color-when-ch */
input[type='checkbox'] {
  accent-color: #0e292d;
}

/* Table styling */
/* Used https://divtable.com/table-styler/ to help */
table {
  border: 3px solid #0e292d;
  border-radius: 10cqb;
  padding: 3.5cqb;
  background-color: #e7eaeb;
  width: 85%;
  margin: auto;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

table.toDoTable td, table.toDoTable th {
  border: 1px solid #0e292d;
  padding: 4px 4px;
}

table tbody td {
  font-size: 16px;
  color: #0e292d;
}

/* Doesn't work because of how the table renders. */
/* table.toDoTable tr:nth-child(odd) {
  background: #b491a5;
} */

table thead {
  background: #40575b;
}

table thead th {
  font-size: 18px;
  font-weight: bold;
  color: #e7eaeb;
  text-align: center;
}

.done {
  background-color: #e7eaeb;
}

.notDone {
  background-color: #b7c0c2;
  font-weight: 600;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
